<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>XBook.Filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>XBook.Commons.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>XBook.Controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>XBook.Controller.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>XBook.Controller.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>XBook.Controller.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConvertPDF</servlet-name>
        <servlet-class>XBook.Commons.ConvertPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConvertPDF</servlet-name>
        <url-pattern>/ConvertPDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
